---
[defaults]
inventory = inv_node
log_path = /var/log/ansible.log
remote_user = devops
host_key_checking = false
roles_path = /yamls/new_role_path
collections_path = ./collections

[privilege escalation]

become=true
become_method=sudo
become_ask-pass=false
become_user=root
